@{
    ViewData["Title"] = "Контакты";
}

<h1>Контакты</h1>
<p>Если у вас есть вопросы, свяжитесь с нами:</p>
<ul>
    <li>Email: support@pizzatopizza.com</li>
    <li>Телефон: +380 67 422 1488</li>
</ul>
