@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать в PizzaToPizza!</h1>
<p>Это главная страница сайта.</p>

<ul>
    <li><a href="/api/pizzas">API: Пиццы</a></li>
    <li><a href="/api/categories">API: Категории</a></li>
    <li><a href="/api/orders">API: Заказы</a></li>
    <li><a href="/api/users">API: Пользователи</a></li>
    <li><a href="/api/promocodes">API: Промокоды</a></li>
</ul>
