@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать в PizzaToPizza!</h1>
<p>Это главная страница сайта.</p>
<ul>
    <li><a href="/api/pizzas">Список пицц (JSON)</a></li>
    <li><a href="/api/categories">Список категорий (JSON)</a></li>
</ul>
